
{% extends "base.html" %}
{% load static %}
{% block content %}




<section class="her-container relative w-full" style="height: 75vh; min-height: 500px;">
    <img src="{% static 'images/hero.jpg' %}"
         class="hero-image absolute top-0 left-0 w-full h-full object-cover"
         all="Event-background">


    <div class="absolute inset-0 bg-black bg-opacity-40"></div>
    
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white px-4">
        <h2 class="text-5xl md:text-7xl font-bold mb-4">Welcome to Hermoni</h2>
        <p class="text-xl md:text-2xl ">Your Best Event Experience</p>
    </div>
</section>


<section class="py-16 bg-gray-200">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 text-center">Upcoming Events</h2>
        <div class="grid md:grid-cols-2 gap-6 max-w-4xl mx-auto">
            {% for event in upcoming_events %}
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <div class="p-6">
                    <h3 class="text-xl font-semibold mb-2">{{ event.name }}</h3>
                    <p class="text-gray-600 mb-1">{{ event.date }} at {{ event.location}} </p>
                    <p class="text-gray-500 mb-3">{{ event.category.name }}</p>
                    <a href="{% url 'event_detail' event.pk %}" class="text-blue-600 hover:underline font-medium">Details</a>
                </div>
            </div>

            {% empty %}

            <div class="col-span-full flex justify-center items-center py-12">
                <p class="col-span-full text-gray-950 text-lg">No Upcoming Events Found.</p>
            </div>
            
            {% endfor %}
        </div>    
    </div>
</section> 

{% endblock  %}